# Ignore virtual environment
venv/
env/
*.env

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore Django database files
db.sqlite3

# Ignore media and static files
/media/
/static/

# Ignore environment variable files
.env

# Ignore coverage and test results
.coverage
*.log
*.pot
*.pyc
*.pyo

# Ignore IDE files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
