body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f7fc;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


h1 {
  text-align: center;
  color: #000; 
  padding: 20px;
  margin: 0;
  font-size: 32px;
  border-radius: 5px 5px 0 0;
  width: 100%;
  box-sizing: border-box;
}

.signin-container {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  box-sizing: border-box;
}

.form-signin h1 {
  color: #333333;
  font-weight: 600;
  margin-bottom: 30px;
}


.form-control {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}


.form-control:focus {
  border-color: #0066cc;
  box-shadow: 0 0 10px rgba(0, 102, 204, 0.2);
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #0066cc;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #005bb5;
}

.mt-5 {
  margin-top: 30px;
}

.text-muted a {
  color: #0066cc;
  text-decoration: none;
}

.text-muted a:hover {
  text-decoration: underline;
}
